<!-- Start Footer Area -->
    <section class="footer-area pt-100 pb-70">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="single-footer-widget">
                        <img src="/assets/gambar/logo/20230608115418.png"
                            alt="Jasa Pembuatan Website Bogor" title="Jasa Pembuatan Website Bogor"
                            style="margin-bottom: 10px" />
                        <p>Bogorwebsite.com adalah perusahaan penyedia layanan jasa pembuatan website, aplikasi mobile,
                            branding & konten kreatif, serta SEO, sesuai kebutuhan bisnis anda dengan harga murah
                            kualitas mewah..</p>
                        <ul class="footer-social">
                            <li>
                                <a href="https://www.facebook.com">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>

                            <li>
                                <a href="https://www.twitter.com">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/sevenlightofficial/">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="single-footer-widget">
                        <h3>Portofolio</h3>

                        <ul class="instagram">
                            <li>
                                <a href="/layanan/aplikasi-mobile-santri-mart">
                                    <img src="/assets/gambar/portofolio/20230609145525.jpg"
                                        alt="Aplikasi Mobile Santri Mart" title="Aplikasi Mobile Santri Mart">
                                </a>
                            </li>
                            <li>
                                <a href="/layanan/website-andalan-fluids-sistem">
                                    <img src="/assets/gambar/portofolio/20230609150034.jpg"
                                        alt="Website Andalan Fluids Sistem" title="Website Andalan Fluids Sistem">
                                </a>
                            </li>
                            <li>
                                <a href="/layanan/website-berita-bogor">
                                    <img src="/assets/gambar/portofolio/20230609150139.jpg"
                                        alt="Website Berita Bogor" title="Website Berita Bogor">
                                </a>
                            </li>
                            <li>
                                <a href="/layanan/seo-jual-blazer">
                                    <img src="/assets/gambar/portofolio/20230627093046.jpg"
                                        alt="SEO Jual Blazer" title="SEO Jual Blazer">
                                </a>
                            </li>
                            <li>
                                <a href="/layanan/website-himpunan-alumni-ipb-kota-bogor">
                                    <img src="/assets/gambar/portofolio/20230627093224.jpg"
                                        alt="Website Himpunan Alumni IPB Kota Bogor"
                                        title="Website Himpunan Alumni IPB Kota Bogor">
                                </a>
                            </li>
                            <li>
                                <a href="/layanan/website-rental-bus-pariwisata-indonesia">
                                    <img src="/assets/gambar/portofolio/20230627093638.jpg"
                                        alt="Website Rental Bus Pariwisata Indonesia"
                                        title="Website Rental Bus Pariwisata Indonesia">
                                </a>
                            </li>
                            <li>
                                <a href="/layanan/seo-ika-jaya-film">
                                    <img src="/assets/gambar/portofolio/20230627093832.jpg"
                                        alt="SEO Ika Jaya Film" title="SEO Ika Jaya Film">
                                </a>
                            </li>
                            <li>
                                <a href="/layanan/website-pt-konsultan-indonesia-jaya">
                                    <img src="/assets/gambar/portofolio/20230627093926.jpg"
                                        alt="Website PT. Konsultan Indonesia Jaya"
                                        title="Website PT. Konsultan Indonesia Jaya">
                                </a>
                            </li>
                            <li>
                                <a href="/layanan/pusaka-farm">
                                    <img src="/assets/gambar/portofolio/20230627094121.jpg"
                                        alt="Pusaka Farm" title="Pusaka Farm">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="single-footer-widget pl-5">
                        <h3>Menu</h3>
                        <ul class="footer-quick-links">
                            <li class="nav-item">
                                <a href="/tentang-kami" class=" " nav-link>
                                    Tentang Kami </a>
                            </li>
                            <li class="nav-item">
                                <a href="/layanan" class=" " nav-link>
                                    Layanan </a>
                            </li>
                            <li class="nav-item">
                                <a href="/portofolio" class=" " nav-link>
                                    Portofolio </a>
                            </li>
                            <li class="nav-item">
                                <a href="/artikel" class=" " nav-link>
                                    Artikel </a>
                            </li>
                            <li class="nav-item">
                                <a href="/kontak" class=" " nav-link>
                                    Kontak </a>
                            </li>
                        </ul>


                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="single-footer-widget">
                        <h3>Kontak</h3>

                        <div class="footer-info-contact">
                            <i class="flaticon-call"></i>
                            <h3>Telepon</h3>
                            <span><a href="tel:081234514325">081234514325</a></span>
                        </div>

                        <div class="footer-info-contact">
                            <i class="flaticon-email"></i>
                            <h3>Email</h3>
                            <span><a href="mailto:kontak@bogorwebsite.com"><span
                                        class="__cf_email__">kontak@bogorwebsite.com</span></a></span>
                        </div>

                        <div class="footer-info-contact">
                            <i class="flaticon-pin"></i>
                            <h3>Alamat</h3>
                            <span><a href="https://goo.gl/maps/D6ToYLsL7pWC5Xgb8">Jl. Raya Bogor No.KM 46, Nanggewer
                                    Mekar, Kec. Cibinong, Kabupaten Bogor, Jawa Barat 16915</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="lines">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </section>

    <!-- Start Copy Right Section -->
    <div class="copyright-area">
        <div class="container">
            <p>
                Copyright ©
                <script data-cfasync="false"
                    src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
                <script>
                    document.write(new Date().getFullYear())
                </script> <a href="/">Bogorwebsite.com</a>. Developer by
                <a href="https://sevenlight.id/" target="_blank">
                    Sevenlight.ID
                </a>
            </p>
        </div>
    </div>
    <!-- End Copy Right Section -->

   


    <nav class="containers">
        <a href="https://wa.me/6281234514325" class="buttons" tooltip="081234514325" target="_blank"></a>
        <a class="buttons" tooltip="Whatsapp" href="#"></a>
    </nav>
     <!-- End Footer Area -->